@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

body{
    background-color: rgb(0, 0, 0);
}

.container{
 background-color: rgb(255, 255, 255);
 width: 1100px;
 height: 750px;
 margin-left: 400px;
 margin-top: 200px;
 margin-right: 250px;
 margin-bottom: 200px;
 border-radius: 20px;
 display: flex;
 padding-bottom: 50px;

}

.img{

left: 50px;
margin-right: 100px;
top: 30px;
position: relative;
margin-top: 5px;
display: flex;
}

.texto{
 margin-top: 50px;
 margin-right: 50px;
 font-family: 'Kanit', sans-serif;
}

.barca img {
    width: 100px;
    margin: 50px;
position: relative;
    left: 120px;

}
